*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #431D32;
    color: #B7CB99;
    font-family: 'Space Mono';
    overflow-x: hidden;
}
span{
    display: inline-block;
}
section{
    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
nav h1{
    font-size: 38px;
    color: #B7CB99;
}
nav h1 i{
    font-size: 45px;
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 18px;
}
nav button{
    background-color: #3D5220;
    height: 25px;
    color: #B7CB99;
    font-family: 'Space Mono';
    border-radius: 5px;
    border: none;
    padding: 0px 10px 2px 10px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}
.center{
    height: 80%;
    width: 100%;
    display: flex;
}
.center-part1{
    margin-top: 50px;
    padding: 30px;
    height: 73.1%;
    width: 35%;

}
.center-part1 h1{
    font-size: 50px;
    color: #778FD2;
}
.center-part1 p{
    margin-top: 50px;
    font-size: 18px;
    color: #778FD2;
}
.center-part1 button{
    margin-top: 50px;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: #3D5220;
    color: #B7CB99;
    font-family: 'Space Mono';
    font-weight: 900;
}
.center-part2{
    height: 90%;
    width: 65%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-part2 img{
    position: absolute;
    height: 500px;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 40px;
}
.section1bottom img{
    height: 40px;
    filter:grayscale(100%);
}
#amazon{
    /* png's are not of same size so here goes adjusting */
    filter:grayscale(80%);
    padding-top: 20px;
    height: 90px;
}
#zoom{
    height: 27px;
}
/* SECTION 2 BELOW */
.section2 .services{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.services h3{
    background-color: #A6E481;
    font-size: 30px;
    border-radius: 2px;
    padding: 0 10px;
    color: #2A3759;
}
.services p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(196, 127, 196);
}
.container{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.elem{
    background-color: bisque;
    flex-shrink: 0;
    height: 290px;
    width: 46%;
    border-radius: 40px;
    margin: 25px 10px;
    box-sizing: border-box;
    padding: 24px 22px;
}
/* .lboxes h2{
    padding: 2px 5px;
    display: inline;
    background-color: #A6E481;
    border-radius: 10px;
    color: #1F1F1F;
    font-weight: 500;
}
.rboxes h2{
    padding: 2px 5px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    color: #1F1F1F;
    font-weight: 500;
} */
.text{
    height: 73px;
    width: 250px;
}
.text h2{
    padding: 2px 5px;
    display: inline;
    background-color: #A6E481;
    border-radius: 10px;
    color: #1F1F1F;
    font-weight: 500;
}
.container #box1{
    background-color: white;
    box-shadow: 8px 8px 0px #3D5220;
}
.container #box2{
    background-color: #1F1F1F;
}
.container #box3{
    background-color: #1F1F1F;
}
.container #box4{
    background-color: white;
    box-shadow: 8px 8px 0px #3D5220;
}
.rboxes h4{
    font-size: 20px;
    font-weight: 500;
    color: #A6E481;
}
.lboxes h4{
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}